.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #222;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    height: 45px;
    font-size: 30px;
    border-radius: 14px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 30px;
    background: #3096e9;
    width: 95%;
    border: 2px solid #3096e9;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 28px;
}

input[type="submit"]:hover {
    background: #41a4f0;
}

label {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 16px;
}

.title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}
