.category {
    all: unset;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
      
    width: 60px;
    height: 60px;

    font-size: 35px;
    text-align: center;
  }