.container {
    display: flex;
    width: 1500px;
    margin: 0 auto;

    border-bottom: 0;
}

.column {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center
}

.controls {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}